@import "tailwindcss";

body{
  background-color: oklch(21.6% 0.006 56.043);
  color: white;
}

/* .isSelected{
  background-color: oklch(98.5% 0.001 106.423);
  color: black;
  border-color: black;
}

.notSelected{
  background-color: oklch(14.7% 0.004 49.25);
  color: white;
  border-color: white;
} */