@import "tailwindcss";
@plugin "daisyui";

body{
  background-color: oklch(21.6% 0.006 56.043);
  color: white;
}

/* .isSelected{
  background-color: oklch(98.5% 0.001 106.423);
  color: black;
  border-color: black;
}

.notSelected{
  background-color: oklch(14.7% 0.004 49.25);
  color: white;
  border-color: white;
} */

@utility buttonTransistion {
  @apply transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110
}